<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Toc:</strong>
  <%= @topic.toc %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @topic.memo %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
